p {
    color: red;
    font-size: 2rem;
}

.container {

    height: 300px;

    background-color: red;
    color: white;
    padding: 25px;

    display: flex;
    flex-direction: row;
    gap: 10px;

    justify-content: space-between;
    
    align-items: flex-start;
    

}

@media (max-width: 600px) {
    .container{
        flex-direction: column;
        background-color: aqua;
    }
}


.container div {
    background-color: blue;
    width: 100%;

    min-width: 5rem;
}